# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
*.class
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Variables de entorno
.env
.env.local
*.env

# IDEs
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db
