spring.application.name=terraza-premium-backend
server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5432/terraza_premium
spring.datasource.username=postgres
spring.datasource.password=cambiar
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jdbc.template.query-timeout=30
